meta(charset="utf-8")
meta(name="viewport", content="width=device-width")
title #{page.title} - #{site.title}

meta(name="description", content=page.description)
meta(name="keywords", content=page.keyword)

link(rel="shortcut icon", href=`/favicon.ico`, sizes="64x64", type="image/vnd.microsoft.icon")
link(rel="shortcut icon", href=`/favicon.png`, sizes="64x64", type="image/png")
link(rel="shortcut icon", href=`/${site.iconpath}`, sizes="any", type="image/png")

meta(name="theme-color", content=site.colorpalet.theme)

meta(property="og:type", content="website")
meta(property="og:title", content=`${page.title} - ${site.title}`)
meta(property="og:description", content=page.description)
meta(property="og:image", content=`/${site.sitecardpath}`)
meta(property="og:url", content=`${site.FesURL}${page.id}.html`)
meta(property="og:site_name", content=site.title)

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:image", content=`${site.URL}${site.sitecardpath}`)
meta(name="twitter:title", content=`${page.title} - ${site.title}`)
meta(name="twitter:description", content=page.description)
meta(name="twitter:site", content="@suiranfes")

link(href=`${site.CDN}2017/suika/4.0.0-alpha.5/css/bootstrap.min.css`, rel="stylesheet")
link(href=`${site.CDN}2017/font-awesome/4.7.0/css/font-awesome.min.css`, rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")

script(src=`${site.CDN}2017/jquery/3.1.1/jquery.min.js`)
script(src=`${site.CDN}2017/tether/1.4.0/js/tether.min.js`)
script(src=`${site.CDN}2017/suika/4.0.0-alpha.5/js/bootstrap.min.js`)
script(src="https://b.st-hatena.com/js/bookmark_button.js", charset="utf-8", async defer)
script(src="https://apis.google.com/js/platform.js", async, defer) {lang: 'ja'}
