include _script.pug
  
//-**********************************************
  *      fa
  *      フォントアウィーサム
  ***********************************************

mixin fa( $icon )
  <i class="fa fa-#{$icon}" aria-hidden="true"></i>

//-**********************************************
  *      badge
  *      バッジ
  ***********************************************

mixin bootstrap_badge_pill( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge.badge-pill(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop)&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_normal( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop)&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_pill_lighter( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge.badge-pill(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop, style="font-weight: 500")&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_normal_lighter( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop, style="font-weight: 500")&attributes(attributes)
    | #{$badge_title}
  
//-**********************************************
  *      index
  *      トップページ
  ***********************************************

mixin updatearticle(i)
  article(itemscope, itemtype="http://schema.org/NewsArticle").w-100.flex-column.align-items-start
    .d-flex.w-100.justify-content-between
      small
        time(itemprop="datePublished", datetime=site.updates[i].date, content=site.updates[i].date)
          | #{printableDate}
      +bootstrap_badge_pill( site.updatebadges[site.updates[i].badge].title, site.updatebadges[site.updates[i].badge].style, "keywords" )
    h5(itemprop="headline").my-1
      - if(site.updates[i].link){
        i.fa.fa-chevron-right(aria-hidden="true")
      - }
      | #{site.updates[i].title}
    p(itemprop="articleBody")
      | #{site.updates[i].description}
    meta(itemprop="author", itemtype="http://schema.org/Thing", content="群馬県立高崎高等学校 第65回翠巒祭実行委員会")
    span(itemprop="publisher", itemtype="http://schema.org/Organization", itemscope)
      meta(itemprop="name", content="第65回翠巒祭公式サイト")
      span(itemprop="logo", itemtype="http://schema.org/ImageObject", itemscope)
        meta(itemprop="url", content=`${site.URL}${site.iconpath}`)
        meta(itemprop="width", content="600")
        meta(itemprop="height", content="600")
    span(itemprop="image", itemtype="http://schema.org/ImageObject", itemscope)
      meta(itemprop="url", content=`${site.URL}${site.sitecardpath}`)
      meta(itemprop="width", content="700")
      meta(itemprop="height", content="389")


//-**********************************************
  *      pantene
  *      一般展示
  ***********************************************


mixin _pantene_modals()

  .modal.fade.-pantene-modal(id=`pantene_modal_engra`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 玄関
          h5.mr-2 エントランス・グラフィック
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 創作班美術課
          p NoSurFaceっぽくデザインしました。

  .modal.fade.-pantene-modal(id=`pantene_modal_endec`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 玄関
          h5.mr-2 投票
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 一般展示班
          p シールを張るだけのかんたんな投票です。
            br
            | 翠巒祭の改善のために、どうかWEBアンケートにもご協力ください。
          a.btn.btn-primary.btn-lg.disabled.m-1.-pantene-wtf(href="javascript:void(0);", role="button", aria-disabled="true") WEBアンケート

  .modal.fade.-pantene-modal(id=`pantene_modal_owen`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 中庭
          h5.mr-2 リーダー公開
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 應援部
          h6 1日目
            p: b 14:00～
