include _script.pug

//-**********************************************
  *      fa
  *      フォントおーサム
  ***********************************************

mixin fa( $icon )
  <i class="fa fa-#{$icon}" aria-hidden="true"></i>

mixin ft( $icon )
  <i class="icon-#{$icon}" aria-hidden="true"></i>

//-**********************************************
  *      badge
  *      バッジ
  ***********************************************

mixin bootstrap_badge_pill( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge.badge-pill(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop)&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_normal( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop)&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_pill_lighter( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge.badge-pill(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop, style="font-weight: 500")&attributes(attributes)
    | #{$badge_title}

mixin bootstrap_badge_normal_lighter( $badge_title, $badge_style, $badge_schema_itemprop )
  .badge(class=`badge-${$badge_style}`,itemprop=$badge_schema_itemprop, style="font-weight: 500")&attributes(attributes)
    | #{$badge_title}

//-**********************************************
  *      index
  *      トップページ
  ***********************************************

mixin updatearticle(i)
  article(itemscope, itemtype="http://schema.org/NewsArticle").w-100.flex-column.align-items-start
    .d-flex.w-100.flex-wrap
      small
        time(itemprop="datePublished", datetime=site.updates[i].date, content=site.updates[i].date)
          | #{printableDate}
      +bootstrap_badge_pill( site.updatebadges[site.updates[i].badge].title, site.updatebadges[site.updates[i].badge].style, "keywords" ).ml-auto
    h5(itemprop="headline").my-1
      - if(site.updates[i].link){
        i.fa.fa-chevron-right(aria-hidden="true")
      - }
      | #{site.updates[i].title}
    p(itemprop="articleBody")
      | #{site.updates[i].description}
    meta(itemprop="author", itemtype="http://schema.org/Thing", content="群馬県立高崎高等学校 第65回翠巒祭実行委員会")
    span(itemprop="publisher", itemtype="http://schema.org/Organization", itemscope)
      meta(itemprop="name", content="第65回翠巒祭公式サイト")
      span(itemprop="logo", itemtype="http://schema.org/ImageObject", itemscope)
        meta(itemprop="url", content=`${site.URL}${site.iconpath}`)
        meta(itemprop="width", content="600")
        meta(itemprop="height", content="600")
    span(itemprop="image", itemtype="http://schema.org/ImageObject", itemscope)
      meta(itemprop="url", content=`${site.URL}${site.sitecardpath}`)
      meta(itemprop="width", content="700")
      meta(itemprop="height", content="389")


//-**********************************************
  *      pantene
  *      一般展示
  ***********************************************

mixin pantene_columm()
  .d-flex.flex-row.align-items-center.flex-wrap
    if (fes.pantene[i].has_page)
      small <i class="fa fa-chevron-right" aria-hidden="true"></i>
    div #{j}-#{k}
    +bootstrap_badge_pill( fes.pantenebadges[fes.pantene[i].type].title, fes.pantenebadges[fes.pantene[i].type].style )
  h6.m-0 #{fes.pantene[i].title}
  small.-pantene-hosts
    +pantene_column_hosts()

mixin pantene_column_hosts()
  - for (var o in fes.pantene[i].hosts) {
    | #{fes.pantene[i].hosts[o].title}
    - if (o < fes.pantene[i].hosts.length - 1){
      | ･
    - }
  - }

mixin _pantene_modals()

  .modal.fade.-pantene-modal(id=`pantene_modal_engra`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 玄関
          h5.mr-2 エントランス・グラフィック
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 創作班美術課
          p NoSurFaceっぽくデザインしました。

  .modal.fade.-pantene-modal(id=`pantene_modal_endec`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 玄関
          h5.mr-2 投票
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 一般展示班
          p シールを貼るだけのかんたんな投票です。
            br
            | 翠巒祭の改善のために、どうかWEBアンケートにもご協力ください。
          a.btn.btn-primary.btn-lg.btn-block.disabled.m-1.-pantene-wtf(href="javascript:void(0);", role="button", aria-disabled="true") WEBアンケート準備中

  .modal.fade.-pantene-modal(id=`pantene_modal_act`, tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header.flex-wrap-reverse
          p.mr-2: b 中庭
          h5.mr-2 演劇
          button.close.ml-auto(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            small 演劇部
          h6 1日目
            p 14:30～
        .modal-footer
          form
            .input-group
              span.input-group-addon Share
              input.form-control(type="url",value=`${site.URL}pantene?modal=pantene_modal_act`, readonly)
              .input-group-btn
                button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                  +fa('share-alt')
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href=`line://msg/text/?${encodeURIComponent(site.URL + "pantene?modal=pantene_modal_act\n\n当日3階でやってます。校舎内に来てね！\n\n#翠巒祭")}`)
                    +ft('line')
                    | &thinsp;LINE it!
                  a.dropdown-item(href=`https://twitter.com/intent/tweet?url=${site.URL}pantene?modal=pantene_modal_act&text=演劇部\n\n当日3階でやってます。校舎内に来てね！&hashtags=翠巒祭&related=suiranfes`, target="_blank")
                    +fa('twitter')
                    | &thinsp;Tweet


//-**********************************************
  *      food
  *      たべもの
  ***********************************************

mixin _food_tabcontent(foodsshop, key)
  h3= foodsshop.title
  p!= foodsshop.description.replace(/\r?\n|\r/g,"<br>")
  .-tabemon-common-wrapper
    - for(var i in fes.foods) {
    - if ( fes.foods[i].shop.name === key ) {
      div( id= fes.foods[i].name ).food
        div(role="tablist", aria-multiselectable="true",id=`accordion_${key}`)
          .card(class=`card-outline-${foodsshop.style}`).-tabemon-card
            .card-header(class=`bg-${foodsshop.style}`, id=`accordion_${key}_${fes.foods[i].name}`,role="tab")
              a(data-toggle="collapse", data-parent=`#accordion_${key}`, href=`#food_collapse_${key}_${fes.foods[i].name}`, aria-expanded="true", aria-controls=`food_collapse_${key}_${fes.foods[i].name}`)
                h4.p-0.m-0 <i class="fa fa-angle-double-right" aria-hidden="true"></i> #{fes.foods[i].title}
            .collapse(id=`food_collapse_${key}_${fes.foods[i].name}` role="tabpanel" aria-labelledby=`accordion_${key}_${fes.foods[i].name}`): .card-block.bg-white
              p.px-3 販売所:<b>#{foodsshop.title}</b>
                if(foodsshop.is_plural)
                | #{circlenums[fes.foods[i].shop.location]}
                br
                span.mb-0!= fes.foods[i].description.replace(/\r?\n|\r/g,"<br>")
              .row.px-3
                - for(var j in fes.foods[i].kinds) {
                  .-food-card-wrap.p-1: div.card.p-2(class=`card-outline-${foodsshop.style}`): .card-block
                    h6.card-title
                      +fa("caret-right")
                      | #{fes.foods[i].kinds[j].title}
                    p.card-text #{fes.foods[i].kinds[j].price}円
                    if fes.foods[i].kinds[j].description
                      p.card-text #{fes.foods[i].kinds[j].description.replace(/\r?\n|\r/g,"<br>")}
                    .card-text
                      +bootstrap_badge_normal("アレルギー物質","primary")
                      if ( fes.foods[i].kinds[j].allergens === undefined )
                        +bootstrap_badge_pill_lighter("調査中","warning")
                      else if ( fes.foods[i].kinds[j].allergens === null )
                        +bootstrap_badge_pill_lighter("なし","success")
                      else
                        - for(var k in fes.foods[i].kinds[j].allergens){
                            +bootstrap_badge_pill_lighter(fes.foods[i].kinds[j].allergens[k],"default")
                        - }
                - }
    - } }


//-**********************************************
  *      events
  *      イベント
  ***********************************************

mixin _event_tabcontent_ub(eventsplace, key, mmday)
  h4.mt-2 #{mmday}日目
  .-tabemon-common-wrapper
    each event, i in fes.events
      - var this_startDate = new Date(fes.events[i].startDate)
      -     this_endDate = new Date(fes.events[i].endDate)
      -     day_startDate = new Date(fes['Day' + mmday].startDate)
      -     day_endDate = new Date(fes['Day' + mmday].endDate)
        if ( fes.events[i].place === key && this_startDate >= day_startDate && this_startDate <= day_endDate )
          div( id= fes.events[i].id ).event
            div(role="tablist",aria-multiselectable="true",id=`accordion_${key}`)
              .card(class=`card-outline-${eventsplace.style}`).-tabemon-card
                .card-header(class=`bg-${eventsplace.style}`, id=`accordion_${key}_${fes.events[i].id}`,role="tab")
                  h5.p-0.m-0
                    a(data-toggle="collapse", data-parent=`#accordion_${key}`, href=`#event_collapse_${key}_${fes.events[i].id}`, aria-expanded="true", aria-controls=`event_collapse_${key}_${fes.events[i].id}`)
                      | <i class="fa fa-angle-double-right" aria-hidden="true"></i> <small class="fw-700">#{printDate(this_startDate, 'time')}～</small> #{fes.events[i].title}
                .collapse(id=`event_collapse_${key}_${fes.events[i].id}` role="tabpanel" aria-labelledby=`accordion_${key}_${fes.events[i].name}`): .card-block.bg-white
                  p.mb-0!= fes.events[i].description.replace(/\r?\n|\r/g,"<br>")
                  if ( fes.events[i].programs != null )
                    ol.programs
                      each program in fes.events[i].programs
                        li= program
                  .dropdown-divider
                  p.mb-1 #{printDate(this_startDate, 'time')} ～ #{printDate(this_endDate, 'time')} @#{eventsplace.title}
                  +_urlshare_igroup(site.URL + "events?tab=" + key + "&collapse=event_collapse_" + key + "_" + fes.events[i].id, "【" + eventsplace.title + "】 " + fes.events[i].title, fes.events[i].description ,fes.events[i].description)


mixin _event_tabcontent(eventsplace, key)
  h3= eventsplace.title
  p!= eventsplace.description.replace(/\r?\n|\r/g,"<br>")
  .row
    .col-xl-6
      +_event_tabcontent_ub(eventsplace, key, 1)
    .col-xl-6
      +_event_tabcontent_ub(eventsplace, key, 2)


//-**********************************************
  *      invmatch
  *      招待試合
  ***********************************************

mixin _invmatch_tabcontent_ub(mmday)
  .-tabemon-common-wrapper
    each match, i in fes.invmatches
      - var this_startDate = new Date(fes.invmatches[i].startDate)
      -     this_endDate = new Date(fes.invmatches[i].endDate)
      -     day_startDate = new Date(fes['Day' + mmday].startDate)
      -     day_endDate = new Date(fes['Day' + mmday].endDate)
        if ( this_startDate >= day_startDate && this_startDate <= day_endDate )
          div( id="#invmatch" ).invmatch
            #accordion(role="tablist",aria-multiselectable="true")
              .card(class=`card-outline-secondary`).-tabemon-card
                .card-header.bg-success(id=`accordion_${fes.invmatches[i].id}`,role="tab")
                  h4.p-0.m-0
                    a.text-white(data-toggle="collapse", data-parent="#accordion", href=`#invmatch_collapse_${fes.invmatches[i].id}`, aria-expanded="true", aria-controls=`event_collapse_${fes.invmatches[i].id}`)
                      | <i class="fa fa-angle-double-right" aria-hidden="true"></i><small class="fw-700">#{printDate(this_startDate, 'time')}～</small> #{fes.invmatches[i].title} <small class="fw-500">vs #{fes.invmatches[i].vs.convenient}</small>
                .collapse(id=`invmatch_collapse_${fes.invmatches[i].id}` role="tabpanel" aria-labelledby=`accordion_${fes.invmatches[i].name}`): .card-block.bg-white
                  p #{printDate(this_startDate, 'time')}～#{printDate(this_endDate, 'time')} @#{fes.invmatches[i].place.title} vs#{fes.invmatches[i].vs.formal}
                  p.mb-0!= fes.invmatches[i].description.replace(/\r?\n|\r/g,"<br>")
                  .dropdown-divider
                  +_urlshare_igroup(site.URL + "invmatch?tab=day" + mmday + "&collapse=invmatch_collapse_" + fes.invmatches[i].id, "【招待試合】 vs " + fes.invmatches[i].vs.convenient, fes.invmatches[i].title + "です。ぜひ見に来てください。",fes.invmatches[i].title + "です。ぜひ見に来てください。" )

mixin _invmatch_tabcontent(mmday)
  h3 #{mmday}日目
  +_invmatch_tabcontent_ub(mmday)


//-**********************************************
  *      urlshare
  *      共有
  ***********************************************

mixin _urlshare_igroup(url, title, twtext, litext)
  form
    .input-group
      span.input-group-addon シェア
      input.form-control.-urlshare-inputurl(type="url",value=url, readonly)
      .input-group-btn
        button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          +fa('share-alt')
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href=`line://msg/text/?${encodeURIComponent(litext + "\n\n" + url + "\n#翠巒祭")}`)
            +ft('line')
            | &thinsp;LINE it!
          a.dropdown-item(href=`https://twitter.com/intent/tweet?url=${url}&hashtags=翠巒祭&text=${encodeURIComponent(title+"\n"+twtext)}&related=suiranfes`, target="_blank")
            +fa('twitter')
            | &thinsp;Tweet