- var page = { id :"food" };
- var circlenums = [ "", "①", "②", "③", "④", "⑤", "⑥", "⑦", "⑧", "⑨", "⑩", "⑪", "⑫", "⑬", "⑭", "⑮", "⑯", "⑰", "⑱", "⑲", "⑳" ];

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .container
      .py-3
        h1 #{page.title}
    .-tabemon-nav-wrap
      ul.nav.nav-pills.nav-fill.p-2.bg-faded.sticky-bottom#foodtab(role="tablist")
        li.nav-item
          a.nav-link.active(data-toggle="tab", href=`#top`, role="tab") ご案内
        each foodsshop, key in fes.foodsshops
          li.nav-item
            a.nav-link(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}

    .wrap.-tabemon
      .container
        .tab-content
          .tab-pane.fade.show.active.py-3(id="top", role="tabpanel")
            h3 ご案内
            p.pl-2.my-1
              b.text-danger
                +fa("circle")
                | 両替はできません。
              br
              +fa("circle")
              | 時間前に完売した場合は販売終了とさせていただきます。 
            p 下部からお選びください！

          each foodsshop, key in fes.foodsshops
              .tab-pane.py-3(id=key, role="tabpanel")
                +_food_tabcontent(foodsshop, key)

    .sticky-bottom.-tabemon-nav-wrap
      ul.nav.nav-pills.nav-fill.p-2.bg-faded.sticky-bottom#foodtab(role="tablist")
        li.nav-item
          a.nav-link.active(data-toggle="tab", href=`#top`, role="tab") ご案内
        each foodsshop, key in fes.foodsshops
          li.nav-item
            a.nav-link(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}
    .container
      .py-3
        h2 お知らせ
        p ここでのアレルギー物質とは、特定原材料等27品目のことです。
    include includes/_footer.pug