- var page = { id :"food" };
- var circlenums = [ "", "①", "②", "③", "④", "⑤", "⑥", "⑦", "⑧", "⑨", "⑩", "⑪", "⑫", "⑬", "⑭", "⑮", "⑯", "⑰", "⑱", "⑲", "⑳" ];

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    #barba-wrapper: .barba-container
      .container: .py-3
        h1 #{page.title}
          h3 ご案内
          p.pl-2.my-1
            b.text-danger
              +fa("circle")
              | 両替はできません。
            br
            +fa("circle")
            | 時間前に完売した場合は販売終了とさせていただきます。 
          p 下部からお選びください！
      .-tabemon-nav-wrap
        ul.nav.nav-pills.nav-fill.p-2.bg-faded#foodtab(role="tablist")
          each foodsshop, key in fes.foodsshops
            if (foodsshop.enable)
              li.nav-item
                a.nav-link(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}
            else
              li.nav-item
                a.nav-link.disabled(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}

      .wrap.-tabemon: .container
        .tab-content
          each foodsshop, key in fes.foodsshops
              .tab-pane.py-3(id=key, role="tabpanel")
                +_food_tabcontent(foodsshop, key)

      .sticky-bottom.-tabemon-nav-wrap
        ul.nav.nav-pills.nav-fill.p-2.bg-faded#foodtab(role="tablist")
          each foodsshop, key in fes.foodsshops
            if (foodsshop.enable)
              li.nav-item
                a.nav-link(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}
            else
              li.nav-item
                a.nav-link.disabled(data-toggle="tab", href=`#${key}`, role="tab") #{foodsshop.title}
    include includes/_footer.pug