- var page = { id :"food" };
- var circlenums = [ "", "①", "②", "③", "④", "⑤", "⑥", "⑦", "⑧", "⑨", "⑩", "⑪", "⑫", "⑬", "⑭", "⑮", "⑯", "⑰", "⑱", "⑲", "⑳" ];

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .wrap
      .container
        .row
          .col-12
            .py-3
              h1 #{page.title}
              each foodsshop, key in fes.foodsshops
                h2 #{foodsshop.title}
                p!= foodsshop.description.replace(/\r?\n|\r/g,"<br>")
                - for(var i in fes.foods) {
                - if ( fes.foods[i].shop.name === key ) {
                  h4 #{fes.foods[i].title} 
                  p @#{foodsshop.title}
                    if(foodsshop.is_plural)
                      | #{circlenums[fes.foods[i].shop.location]}
                    br
                    span!= fes.foods[i].description.replace(/\r?\n|\r/g,"<br>")
                  .row
                    dl
                      - for(var j in fes.foods[i].kinds) {
                        .col-12.col-md-6
                          dt
                            b #{fes.foods[i].kinds[j].title}:#{fes.foods[i].kinds[j].price}円
                            br
                            +bootstrap_badge_normal("アレルギー物質","primary")
                            if ( fes.foods[i].kinds[j].allergens === undefined )
                              +bootstrap_badge_pill("調査中","warning")
                            else if ( fes.foods[i].kinds[j].allergens === null )
                              +bootstrap_badge_pill("なし","success")
                            else
                              - for(var k in fes.foods[i].kinds[j].allergens){
                                  +bootstrap_badge_pill(fes.foods[i].kinds[j].allergens[k],"default")
                              - }
                            br
                            if fes.foods[i].kinds[j].description
                              dd!= fes.foods[i].kinds[j].description.replace(/\r?\n|\r/g,"<br>")
                      - }
                      hr
                - } }
              h2 お知らせ
              p ここでのアレルギー物質とは、特定原材料等27品目のことです。
    include includes/_footer.pug