- var page = { id :"food" };
- var circlenums = [ "", "①", "②", "③", "④", "⑤", "⑥", "⑦", "⑧", "⑨", "⑩", "⑪", "⑫", "⑬", "⑭", "⑮", "⑯", "⑰", "⑱", "⑲", "⑳" ];

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .wrap
      .container
        .row
          .col-12
            .py-3
              h1 #{page.title}
              - for (var i in fes.foods) {
              p
                b #{fes.foods[i].title} 
                  | @#{fes.foodsshops[fes.foods[i].shop.name].title}
                  if(fes.foodsshops[fes.foods[i].shop.name].is_plural)
                    | #{circlenums[fes.foods[i].shop.location]}
                br
                - for (var j in fes.foods[i].kinds) {
                | #{fes.foods[i].kinds[j].title} : #{fes.foods[i].kinds[j].price}
                br
                - }
              - }
    include includes/_footer.pug