- var page = { id :"gallery" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    #barba-wrapper: .barba-container: .wrap
      .container
        .row
          .col-12.py-3
            h1 #{page.title}
            p!=page.description
          .col-12.pb-2
            .row
              each picture, i in site.gallery
                .col-12.col-md-6.col-xl-4.py-2
                  .card.w-100
                    img.card-img.w-100(src=`${site.CDN}2017/img/gallery/${site.gallery[i].id}.jpg` alt="")
                    .card-block
                      h4.card-title #{site.gallery[i].title}
                      div.card-text!= site.gallery[i].description
                      if (site.gallery[i].downloadable)
                        a.btn.btn-success.btn-block.w-auto.h-auto.mt-2(href=`${site.CDN}2017/img/gallery/${site.gallery[i].id}.png` download=`suiranfes_gallery_${site.gallery[i].name}` target="_blank") ダウンロード
    include includes/_footer.pug