- var page = { id :"index" };

doctype
html(lang="ja")
  head
    include includes/_mixins.pug
    include includes/_meta.pug
    include includes/_includes.pug
  body
    include includes/_nav.pug
    .wrap.-index-first
      .row.-index-second
        .col-md-6.col-xl-7
          .row
            .col-xl-7.py-3.-index-left.text-font-mpc
              .container
                h1.-index-title #{site.title}
                span.-index-theme #{site.theme}
                br
                span.-index-themeinjap  『#{site.themeinjap}』
                p.-index-date
                  span.-index-date-y 2017年
                  span.-index-date-m 6月
                  span.-index-date-day1num 3日
                  span.-index-date-day1Sat (土)
                  br
                  span.-index-date-day2num 4日
                  span.-index-date-day2Sun (日)
            .col-xl-5.py-4
              .-index-middle
                .list-group.mx-2
                  .list-group-item
                    h3.my-1 更新情報
                  - for( var i in site.updates ) {
                  -   var printableDate = printDate(site.updates[i].date)
                  -   if( i == 0 ){
                    if site.updates[i].link
                      a(href=site.updates[i].link).list-group-item.list-group-item-action.active
                        +updatearticle(i)
                    else
                      .list-group-item.active
                        +updatearticle(i)
                  -   } else if ( i == 5 ) {
                    a(href="javascript:void(0);").list-group-item.list-group-item-action
                      b もっと見る
                    if site.updates[i].link
                      a(href=site.updates[i].link).list-group-item.list-group-item-action
                        +updatearticle(i)
                    else
                      .list-group-item
                        +updatearticle(i)
                  -   } else {
                    if site.updates[i].link
                      a(href=site.updates[i].link).list-group-item.list-group-item-action
                        +updatearticle(i)
                    else
                      .list-group-item
                        +updatearticle(i)
                  -   }
                  - }
                  a(href="javascript:void(0);").list-group-item.list-group-item-action
                    b 隠す
        .col-md-6.col-xl-5
          .-index-right
            a(href="attention.html").Attention
              .-index-pickups-wrap.Attention
                .container
                  .-index-pickups.Attention
                    .-index-pickups-head ご注意
                    .-index-pickups-desc ご来場前に必ず知っていただきたいこと
            a(href="access.html#shuttle").Bus
              .-index-pickups-wrap.Bus
                .container
                  .-index-pickups.Bus
                    .-index-pickups-head 無料シャトルバス
                    .-index-pickups-desc 高崎駅から約10分毎に運行。詳細をご確認ください
            a(href="pantene.html").Pantene
              .-index-pickups-wrap.Pantene
                .container
                  .-index-pickups.Pantene
                    .-index-pickups-head 一般展示
                    .-index-pickups-desc 今回最も力を入れた校内の展示です
            a(href="food.html").Food
              .-index-pickups-wrap.Food
                .container
                  .-index-pickups.Food
                    .-index-pickups-head 模擬店･食堂･喫茶
                    .-index-pickups-desc 各種食べ物、飲み物
    include includes/_footer.pug