- var page = { id :"pantene/index" };

doctype
html(lang="ja")
  head
    include ../includes/_mixins.pug
    include ../includes/_meta.pug
    include ../includes/_includes.pug
  body
    include ../includes/_nav.pug
    .wrap
      .container
        .row
          .col-12
            .py-3
              h1 #{page.title}
      .-pantene-index-columns.p-2
        h3 展示一覧
        - for (var j = 3; j > 0; j--) {
          .-pantene-floor
            -   for (var k = 9; k > 0; k--) {
            -     var thereis = false;
            .-pantene-room.p-1
              -     for (var i in fes.pantene) {
              -       if (fes.pantene[i].place.floor == j && fes.pantene[i].place.room == k) {
              -         thereis = true;
              -         if(fes.pantene[i].has_page) {
                a.card.p-2(class=`card-inverse card-${fes.pantenebadges[fes.pantene[i].type].style}`, href=`/pantene/${fes.pantene[i].id}`)
                  .d-flex.flex-row
                    div: b #{j}-#{k}
                    div.ml-auto
                      +bootstrap_badge_pill( fes.pantenebadges[fes.pantene[i].type].title, fes.pantenebadges[fes.pantene[i].type].style )
                  | #{fes.pantene[i].title}
              -         } else {
                .card.p-2(class=`card-inverse card-${fes.pantenebadges[fes.pantene[i].type].style}`)
                  .d-flex.flex-row
                    div: b #{j}-#{k}
                    div.ml-auto
                      +bootstrap_badge_pill( fes.pantenebadges[fes.pantene[i].type].title, fes.pantenebadges[fes.pantene[i].type].style )
                  | #{fes.pantene[i].title}
              -         }
              -       }
              -     }
              -     if (thereis == false) {
                .card.p-2(class="card-inverse card-danger")
                  .d-flex.flex-row
                    div: b #{j}-#{k}
                    div.ml-auto
                    +bootstrap_badge_pill( "?", "danger" )
                  | 情報なし
              -     }
            -   }
        - }
    include ../includes/_footer.pug